.idea/
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
/node_modules
/public/build/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> acceptance-tests (codeception dependencies) ###
acceptance-tests/vendor
acceptance-tests/tests/_support/_generated
!acceptance-tests/tests/_output/.gitkeep
acceptance-tests/tests/_output
###< acceptance-tests (codeception dependencies) ###