{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block main %}

    <div class="container-fluid upper">

        <div id="question-view-more" question-id="{{ id }}" user-id="{{ app.user.id }}"></div>

    </div>

{% endblock %}

{% block javascript_for_page %}
    <script src="{{ asset('build/js/question-view-more.js') }}"></script>
{% endblock %}
