{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block main %}

    <div class="container upper">

        <div id="question" question-id="{{ id }}"></div>

    </div>

{% endblock %}

{% block javascript_for_page %}
    <script src="{{ asset('build/js/question.js') }}"></script>
{% endblock %}
