{% block footer %}

    <footer id="footer">
        <div class="container">
            <span class="copyrights">© 2017 .NFQ | Scaling Companies</span>
            <ul class="nav">
                <li class="nav-item">
                    Privacy
                </li>
                <li class="nav-item">Upcoming events</li>
                <li class="nav-item">
                    <a target="_blank" href="https://www.facebook.com/nfqlt/">.NFQ in Facebook</a>
                </li>
            </ul>
        </div>
    </footer>

{% endblock %}